@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;500;800&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: poppins;
}
nav ul{
    display: flex;
    justify-content: end;
    background-color: none;
    margin: 0;
    padding: 10px;
}
nav li{
    list-style: none;
    margin-right: 2%;
    padding: 10px;
    color: white;
}
nav a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.search{
    background-image: url(image/search_icon.png);
    background-repeat: no-repeat;
    background-size: 2.5%;
    background-position: 2%;
    border-color: #DFDFDF;
    border-radius:10px;
    height: 7vh;
    border-style: none;
    width: 80%;
    margin-top: 5%;
    padding-left: 2%;
    color: #808080;
}
.search::placeholder{
    position: absolute;
    left: 6%;
    opacity: 0.5;
}
.search:focus {
    background-image: none;
    border: none;
    outline: none;
}
.search:focus::-webkit-input-placeholder {
    opacity: 0;
}
.slide-down-element {
    width: 100%;
    height: 22vh;
    position: absolute;
    top: 0;
    background-color: #5198F8;
    animation: fadeFromTop 3s ease-in-out forwards;
    transform-origin: bottom ;
}
@keyframes fadeFromTop {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleY(0);
    }
}

.slide-side-element {
    width: 60%;
    height: 19vh;
    position: absolute;
    top: 22%;
    background-color: #5198F8;
    animation: fadeFromSide 4s ease-in-out forwards;
    transform-origin: right ;
}
@keyframes fadeFromSide {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}
.slide-side-element2{
    left: 60%;
    width: 40%;
    height: 19vh;
    position: absolute;
    top: 22%;
    background-color: #5198F8;
    animation: fadeFromSide 5s ease-in-out forwards;
    transform-origin: right ;
}
.slide-side-card{
    left: 0;
    width: 25%;
    height: 120vh;
    position: absolute;
    top: 135%;
    background-color: white;

}
.slide-side-card.animate{
    animation: fadeFromSide 4s ease-in-out forwards;
    transform-origin: left ;
}
.slide-side-card2{
    right: 0;
    width: 20%;
    height: 120vh;
    position: absolute;
    top: 135%;
    background-color: white;
}
.slide-side-card2.animate{
    animation: fadeFromSide 4s ease-in-out forwards;
    transform-origin: right ;
}
.slide-down-card {
    width: 100%;
    height: 145vh;
    position: absolute;
    top: 130%;
    background-color: white;

}
.slide-down-card.animate{
    animation: fadeFromTop 3s ease-in-out forwards;
    transform-origin: bottom ;
}
.image-slide-show{
    border-color: #5198F8;
    border-width: 10px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 40px;
}

/* styles.css */
.card-container {
    border-radius: 20px;
    margin-top: 5vh;
}

.card {
    padding-top: 2%;
    padding-left: 2%;
    margin-left: 5%;
    width: 90%;
    display: flex;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-top-color: black;
    border-radius: 20px;
    background-color: white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    height: 10vh;
    transform: translateY(0);
}
.card img{
    display: none;
}
.card .deskripsi{
    display: none;
}
.card.active {
    height: 30vh;
}
.card.active img{
    display: block;
}
.card.active .deskripsi{
    display: block;
}
.card.active .totalListrik{
    display: none;
}
.totalListrik{
    font-size: 28px;
    font-weight: 200;
}
.box{
    width: 45%;
    height: 5vh;
    position: absolute;
    top: 207%;
    background-color: white;
}
.judul{
    margin-top: 5%;
    width: 40%;
    font-size: 24px;
    margin-left: 8%;
    font-weight: 400;
    line-height: 1;
}
.judul.animate{
    animation: upDown 4s ease-in;

}
.pembangkit-listrik.animate{
    animation: upDown 4s ease-in;
}
.jumlah-listrik.animate{
    animation: upDown 4s ease-in;
}
.charging-station.animate{
    animation: upDown 4s ease-in;
}
.peta-penyebaran.animate{
    animation: upDown 5s ease-in;
}
@keyframes upDown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.footer {
    padding-top: 2%;
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: #021C3F;
    border: 1px solid #ccc;
    border-top-color: white;
    border-radius: 20px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    height: 5vh;
    transform: translateY(0);
}
.logo{
    margin-top: 5vh;
    transform: translateY(0);
    animation: float 5s ease-in-out infinite;
}
@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30%);
    }
    100%{
        transform: translateY(0);
    }
}
.slideshow-container {
    position: absolute;
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    top: 70vh;
    left: 7vw;
}

.slideshow-viewport {
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap: 3%;
}

.slideshow-viewport img {
    width: 22%;
    height: auto;
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0 15px 0 12px;
    font-size: 28px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 100%;
    text-align: center;
    font-weight: 100;
}

.prev-button {
    left: 5vw;
    top: 79%;
}

.next-button {
    right: 10px;
}

.pagination-dots {
    position: absolute;
    top: 90vh;
    left: 43vw;
    text-align: center;
    margin-top: 20px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #B9D7FF;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.activee {
    background-color: #5198F8;
}
.kategori{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
}
.btn-pulau{
    font-family: Lexend;
    font-size: 14px;
    font-weight: 600;
    color: #021C3F;
    width: 15%;
    height: 5vh;
    border-radius: 40px;
    border: 0.5px solid #062F6C;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(20, 17, 17, 0.71);
    margin-left: 7px;

}
.btn-pulau.active{
    font-family: Lexend;
    font-size: 14px;
    font-weight: 600;
    color: white;
    width: 15%;
    height: 5vh;
    border-radius: 40px;
    border: none;
    background: #062F6C;
    box-shadow: 0px 1px 2px 0px rgba(20, 17, 17, 0.71);
    margin-left: 7px;
}
.btn-penjelasan{
    background-color: #021C3F;
    color: #B9D7FF;
}
.btn-penjelasan.active{
    background-color: #B9D7FF;
    color: #021C3F;
}
